<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home" (click)="BackMain()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="ion-padding">

    <img src="{{image}}">


<div class="ion-padding">
  <div class="desc">
    <h4>
      {{title}}
    </h4>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h5 class="title" color="danger">
            {{category}}
          </h5>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <p>{{detail}}</p>

</div>
  </div>

  <ion-label>
    <h2>.....</h2>
    <p>{{detail2}}</p>
  </ion-label>

</ion-content>

<div >
  <ion-row>
    <ion-col size="6">
      <ion-badge color="light" class="ion-margin-end">
        Link : {{link}}
      </ion-badge>
    </ion-col>
  </ion-row>
</div>
