<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" (click)="BackHome()"></ion-icon>
    </ion-buttons>

    <ion-label>
      <h2>บทความทั้งหมด</h2>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar  #search debounce="500" (ionChange)="_ionChange($event)"></ion-searchbar>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">

            <ion-card class="card" *ngFor="let itemA of article" (click)="detailArticles(itemA)">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="{{ itemA.image }}"></ion-img>
                </div>

                <ion-card-title class="title">{{ itemA.title }}</ion-card-title>
                <ion-card-subtitle>{{ itemA.category }}</ion-card-subtitle>
                <ion-row>
                  <ion-col size="6">
                    <ion-card-subtitle >
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-outline"></ion-icon>
                    </ion-card-subtitle>
                  </ion-col>
                  <ion-col size="6">
                    <ion-badge color="dark" class="ion-margin-end">
                      Delete
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

      <div class="ion-padding">
        <ion-row>
          <ion-col size="6">
            <ion-badge color="light" class="ion-margin-end">
              Habib Dev.
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-badge color="light">
              habib.al-mawali.com
            </ion-badge>
          </ion-col>
        </ion-row>
      </div>

</ion-content>
